div#footer{
  position: fixed;
  left: 0px;
  bottom:0px;
  width:100%;
  display: block;
  color:#FAF3DD;
  background: #FFA69E;
  padding: 8px;
  text-align: center;
}
body{
  font-family: 'Comfortaa', cursive;
  color: #5e6472;
}
container{
  margin-top: 20px;
  text-align: center;
}

a.navbar-brand{
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  color: #faf3dd;
}
a{
  text-decoration: none;
  color:#5e6472;
}
a:hover{
  text-decoration: underline;
  color:#5e6472;
}