@{
  Layout = "_Layout";
}
@using Pierre.Models;

<h1>Flavors Matching Your Search</h1>

@if (@Model.Count == 0)
{
  <h3>No flavors profiles found!</h3>
} 

<ul>
  @foreach(Flavor flavor in Model)
  {
    <li>@Html.ActionLink($"{flavor.Description}", "Details", new { id = flavor.FlavorId })</li>
  }
</ul>
<p>@Html.ActionLink("Back to flavors", "Index")</p>